include ../bemto/bemto.pug

+b('footer').footer
  .wrapper
    +e('p').copyright © 2016 — Ресторан Basilio
    +e('p').adress Челябинск, ул. Энтузиастов, 36а, +7 351 235 64 33
    +e.dextra(href="https://www.dextra.ru/", target="_blank")
      span dextra
      | Разработка<br>сайта
    +e('ul').social-list
      +e('li').solical-item
      +e('li').solical-item
      +e('li').solical-item
    +e.href(href='#') Вверх