include ../bemto/bemto.pug

+b('header').header
  +e.UL.nav
    +e.LI.nav-item
      +e.A(href='#').nav-href О нас
    +e.LI.nav-item
      +e.A(href='#').nav-href Шеф-повар
    +e.LI.nav-item
      +e.A(href='#').nav-href Меню
    +e.LI.nav-item
      +e.A(href='#').nav-href Винотека
    +e.LI.nav-item
      +e.A(href='#').nav-href Спецпредложения
    +e.LI.nav-item
      +e.A(href='#').nav-href Кейтеринг
    +e.LI.nav-item
      +e.A(href='#').nav-href Контакты
  +e.info-block
    +e.phone +7 351 
      SPAN.biggerText 235-64-33
    +e.text Заказать:
    +e.A(href='#').href-reserve_banquet Банкет
    +e.A(href='#').href-reserve_table Столик