nav.pagination
  span(aria-label="Предыдущая").pagination__prev.disabled
  ul.pagination__list
    li.pagination__item.active
      span.pagination__item-href 1
    li.pagination__item
      a(href="#").pagination__item-href 2
    li.pagination__item
      a(href="#").pagination__item-href 3
    li.pagination__item ...
    li.pagination__item
      a(href="#").pagination__item-href 99
  a(href="#", aria-label="Следующая").pagination__next