include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body.index
    include layout/__header

    +b('main').main
      +b.promo
        .swiper-container
          .swiper-wrapper
            // Slides
            .swiper-slide
              +e.H3.title Гастрономический ресторан Basilio
              +e.P.text Черпая вдохновение в первых ресторанах мира ресторан-энотека Basilio стремится развиваться и быть всегда новым. Не только радовать своих посетителей, но и удивлять их.
            .swiper-slide 
            .swiper-slide 
          // If we need navigation buttons
          .swiper-button-prev
          .swiper-button-next
      +b('section').intro
        +e('h3').title Наш шеф-повар непременно вас поразит!
        +e.text Для Вас будет работать команда под руководством известного шеф-повара и владельца гастрономического ресторана Basilio Дмитрия Модестова, который несколько лет учился и работал в лучших ресторанах Испании и Италии. 
        +e.href(href='#') Интервью Дмитрия Модестова
      +b('section').food
        +e.item
          +e('h4').title Меню от Дмитрия Модестова!
          +e('p').subtitle У нас широкий выбор блюд на любой вкус! Супы, салаты, горячее, десерты и даже блюда для вегетарианцев.
          +e.card
            +e.IMG(src='#' alt='Дегустационный сет «Вдохновение»' width='600' height='400' title='Дегустационный сет «Вдохновение»').img
            +e.text-panels
              +e.text-panel
                +e.href-title(href='#') Дегустационный сет «Вдохновение»
                +e.text 6 курсов (смен блюд)
                  +e('span').price 1250 руб.
              +e.text-panel
                +e.href-title(href='#') Дегустационный сет «Гармония»
                +e.text 8 курсов (смен блюд)
                  +e('span').price 2995 руб.
          +e.href(href='#') Полный список блюд
        +e.item
          +e('h4').title Винотека
          +e.card
            +e.IMG(src='#' alt='Вино "Зонин Асти DOCG"' width='600' height='400' title='Вино "Зонин Асти DOCG"').img
            +e.text-panel
              +e.text Зонин Асти DOCG 0,75 
                +e('span').text-small Италия, сухое
              +e.text Торрес Сангре де Торо
                +e('span').text-small Грузия, п/сухое
              +e.text Бордо Премиум Совиньон
                +e('span').text-small Испания, сухое
              +e.text Вилла Мария
                +e('span').text-small Австралия, 4 г/дм, сухое
              +e.text Джейо Кюве 0,75
                +e('span').text-small Италия, сухое
              +e.text Торрес Сангре де Торо
                +e('span').text-small Грузия, п/сухое
              +e.text Бордо Премиум Совиньон
                +e('span').text-small Испания, сухое
          +e.href(href='#') Полный список вин
      +b('section').field-service
        +e.text-field
          +e('h4').title Выездное обслуживание от Basilio
          +e('p').text В любой точке мира, вместе с профессиональной командой ресторана «Базилио», вы почувствуете полнейшее наслаждение от праздника. Семинары, конференции, значимые встречи с партнерами, праздники внутри коллектива, дни рождения, юбилеи и конечно же неповторимые свадьбы.
          +e.href(href='#') Подробнее о выездном обслуживании
      +b('section').field-service
        +e('h4').title О ресторане Basilio!
        +e('p').text Черпая вдохновение в первых ресторанах мира ресторан-энотека Basilio стремится развиваться и быть всегда новым. Не только радовать своих посетителей, но и удивлять их. Дмитрий Модестов вместе с шеф-поваром Николаем Солуяновым специально ездят по лучшим ресторанам мира, чтобы идеально освоить культуру единства вина и еды.
        +e('p').text А, исследуя в путешествиях лучшие гастрономические школы, оттачивая свой вкус в собственной гастрономической лаборатории, после – представляют гостям новые вкусы, новые комбинации соединения блюд и вин, марки, вновь доставленные из винодельческих провинций. Дмитрий Модестов, страстно увлеченный своим делом, находит все больше единомышленников, как в своей команде, так и среди гостей.
        +e.href(href='#') Подробнее о Basilio
      +b('section').gallery
        .swiper-container-gallery
          .swiper-wrapper-gallery
            // Slides
            .swiper-slide-gallery
            .swiper-slide-gallery
            .swiper-slide-gallery
            .swiper-slide-gallery
            .swiper-slide-gallery
          .swiper-button-prev-gallery
          .swiper-button-next-gallery
      +b('section').outro
        +e.IMG(src='#' alt='Наша команда!' width='600' height='400' title='Наша команда!').img
        +e.map
        +e.text-block
          +e.title Закажите банкет в ресторане Basilio!
          +e.text Ваш идеальный банкет, свадьба или корпоратив в ресторане Basilio! Вкусно. Стильно. Безупречно!
          +e.href(href='#') Заказать банкет

    include layout/__footer

    include layout/__scripts