.footer
  &__dextra
    pos relative
    color silver
    font-family Verdana, Geneva, sans-serif
    fontify 9px 400 14px
    text-transform uppercase
    letter-spacing 0.18em
    @media $PortraitMedium
      l 42px
    span
      pos absolute
      t 3px
      r calc(100% + 10px)
      bgc #dfdfdf
      color white
      font-family Arial
      fontify 12px 900 21px
      text-transform uppercase
      letter-spacing 0.1em
      border-radius 3px
      padding 0 6px
      transition 0.7s background
    &:hover span
      background-color $green