.wrapper
  width: 1840px
  margin: 0 auto

body 
  overflow-y scroll
  scrollbar-width none /* Firefox */
  -ms-overflow-style none  /* IE 10+ */
  

body-webkit-scrollbar  /* WebKit */
  width 0
  height 0