.header
  display: flex
  min-height: 120px;
  font-family: $os

  .wrapper
    margin: 0 auto
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    width 1140px
    color: $fdgray

  &__nav
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center

  &__nav-item
    mr 25px

  &__nav-href
    color: $fdgray
    fontify 15px 400 15px
    font-family: $os
    text-transform: uppercase

  &__info-block
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    font-family: $os

  &__phone
    fontify 24px 400 24px
    color: $fgray
    mt auto

  &__phone_biggerText
    color: $fdgray
    fontify 40px 400 40px

  &__reserve-block 
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    mb auto
    fontify 15px 400 15px
    color: $fgray
    mt 10px
    ml 10px

  &__href-reserve
    ml 30px
    color: $fdgray

