.promo
  width: 100%;
  height: 580px;
  color: $fwhite

  &__title
    font-family: $os
    fontify 60px 400 62px
    color: $fwhite
    text-align: center
    mb 37px
    
  &__text-block
    width: 1060px
    margin: auto

  &__text
    font-family: $PS
    fontify 20px 400 28px
    text-align: center

.intro
  display: flex
  width: 100%
  height: 580px
  mt 40px
  position: relative

  &__text-block
    mt 96px
    ml 318px
    width: 674px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    //background: radial-gradient(white, transparent);

  &__title
    font-family: $os
    fontify 60px 400 62px
    color: $fdgray
    mb 35px

  &__text
    fontify 20px 400 28px
    font-family: $PS
    color: $fdgray

  &__href
    fontify 20px 400 64px
    color: $dark

    &:before
      content: ""
      display: block
      position: absolute
      width: 264px
      height 2px
      background-color: $fteal
      bottom: 160px

.food
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  pt 80px
  pb 80px

  &__item
    display: flex;
    flex-direction: column;

  &__card
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    ml auto 
    mr auto
    width: 1200px

  &__title
    fontify 60px 400 52px
    font-family: $os
    text-align: center
    mb 38px

  &__subtitle
    fontify 20px 400 28px
    font-family: $PS
    text-align: center
    mb 38px

  &__card
    display: flex
    flex-direction: row
    flex-wrap: nowrap

  &__text-panels
    width: 600px
    height: 100%
    height: 400px
    display: flex
    flex-direction: column
    
  &__text-panel
    pt 51px
    pl 61px
    bgc $blteal
    flex-grow: 1
    position: relative
    overflow: hidden

    &:first-child
      background-image: url('img/cont-1.png')

    &:last-child
      bgc $bllteal
      background-image: url('img/cont-1.png')

  &__href-title
    fontify 22px 400 38px
    color: $dark
    mb 37px
      z-index 3

    &:before
      content: ""
      display: block
      position: absolute
      width: 339px
      height 2px
      background-color: $fteal
      t 95px
  
  &__text
    mt 30px
    fontify 17px 400 17px

    &_m0
      mt 0

  &__price
    ml 235px

  &__href
    text-align: center
    position: relative
    ml auto 
    mr auto
    fontify 20px 400 64px
    font-family: $os
    color: $fdgray
    t 45
    mb 80px

    &:before
      content: ""
      display: block
      position: absolute
      width: 182px
      height 2px
      background-color: $fteal
      t 45px

    &_vine:before
      width: 170px

.field-service
  height: 580px
  pt 96px
  pl 316px

  &__text-field
    width: 685px
    color: $fwhite

  &__title
    fontify 60px 400 52px
    font-family: $os
    mb 38px

  &__text
    fontify 20px 400 28px
    font-family: $PS
    mb 30px

  &__href
    fontify 20px 400 20px
    color: $fwhite
    position: relative

    &:before
      content: ""
      display: block
      position: absolute
      width: 323px
      height 2px
      background-color: $fteal
      b -2px

.about
  height: 500px
  color: $fdgray
  display: flex
  flex-direction: column

  &__title
    fontify 60px 400 52px
    font-family: $os
    mt 94px
    mb 38px
    text-align: center

  &__text
    fontify 20px 400 28px
    font-family: $PS
    mb 30px
    text-align: center

  &__href
    fontify 20px 400 20px
    color: $fdgray
    position: relative
    text-align: center

    &:before
      content: ""
      display: inline-block
      position: absolute
      width: 170px
      height 2px
      background-color: $fteal
      b -2px

.outro
  display: flex
  flex-direction: column
  position: relative

  &__text-block
    position: absolute
    bgc $fteal
    border-radius: 50%
    width: 475px
    height: 475px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    font-family: $os
    color: $fwhite
    t 50%
    l 50%
    transform: translate(-50%, -50%)

  &__title
    fontify 36px 400 44px
    font-family: $os
    mt 125px
    mb 25px
    text-align: center

  &__text
    fontify 18px 400 26px
    font-family: $PS
    mb 30px
    text-align: center

  &__href
    fontify 20px 400 20px
    color: $fwhite
    position: relative
    text-align: center

    &:before
      content: ""
      display: inline-block
      position: absolute
      width: 133px
      height 1px
      background-color: $fwhite
      b -5px




