html,
body
  font-family $os
body
  overflow-x hidden
  overflow-y scroll
  bgc white

.container
  w 100%
  max-width 1540px
  padding 0 50px
  margin 0 auto
  @media $desktopMin
    padding 0 30px
  @media $LandscapeMin
    ml 0
    mr 0
    padding 0 15px
  &_rel
    pos relative

.common
  &__title
    c black
    fontify 60px 500 64px
    mb 18px
    @media $lDesktopSmall
      fontify 48px 500 48px
      mb 29px
    @media $desktopMedium
      fontify 40px 500 40px
    @media $PortraitMax
      mb 20px
  &__subtitle
    c black
    fontify 16px 400 24px
    mb 30px
    max-width 340px
    @media $lDesktopSmall
      fontify 14px 400 22px
    @media $PortraitMax
      max-width inherit
      mb 20px
    &_white
      c white
  &__toall
    pos relative
    c black
    fontify 16px 500 21px
    border-bottom 1px solid $grey
    transition .7s border-color, .7s color
    @media $lDesktopSmall
      fontify 14px 500 21px
    &:hover
      c $red
      border-color transparent
      &:after
        w 40px
  &__back
    pos relative
    ib()
    c black
    fontify 18px 500 21px
    border-bottom 1px solid $grey
    ml 39px
    mt 50px
    transition .7s border
    @media $desktopMax
      fontify 16px 700 18px
      mt 34px
    &:before
      content ""
      pos absolute
      l -39px
      t 3px
      size 31px 18px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAASBAMAAABRHhjUAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEXOAAzOAAzOAAzOAAzOAAzOAAzOAAzOAAz///80kJFDAAAAB3RSTlMACr7kISa/o5qoygAAAAFiS0dECIbelXoAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBAoPLDdM6Qy0AAAAQUlEQVQY02NgAAJBBlTAqCSAKiBU7ICqQN0UXUEApQrKUUABgxi6AGM6mhYGMTRDsSgRwlCijqnEAU0JuvdRAggARlkWJQZG4HMAAAAASUVORK5CYII=') no-repeat center
      @media $desktopMax
        t 5px
    &:hover
      border-color transparent
  &__label
    db()
    c $grey
    fontify 14px 400 18px
    mb 6px
    @media $lDesktopSmall
      fontify 12px 400 16px
    span 
      c $red
  &__input
    w 100%
    h 44px
    padding 0 20px
    border 1px solid $grey
    bgc transparent
    color black
    font-family $os
    font-size 16px
    line-height 500
    transition .7s border
    @media $lDesktopSmall
      font-size 14px
    &:focus
      border-color black
    &.warning + ^[0]__inperror
      db()
  &__textarea
    padding 7px 20px
    w 100%
    h 125px
    border 1px solid $grey
    bgc transparent
    color black
    font-family $os
    font-size 16px
    line-height 500
    line-height 25px
    transition .7s border
    resize none
    oh()
    @media $lDesktopSmall
      font-size 14px
      line-height 24px
  &__inperror
    dn()
    c $red
    fontify 12px 400 16px
  &__sbm
    cursor pointer
    font-family $os
    mt 5px
    border-radius 5px
  &__select
    h 36px
    bgc #fff
    border 2px solid $grey
    w auto
    cursor pointer
    transition .5s border
    &.warning
      border-color $red
  &__placeholder
    pos absolute
    z-index -1
    l 0 
    t 0
    color alpha(white, .5)
    fontify 13px 400 35px
    letter-spacing .1em
    text-transform uppercase
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    max-width 100%
    transition .7s top, .7s line-height
  &__row
    & + &
      mt 17px
  &__submit
    pos relative
    mt 10px
      
input.warning,
textarea.warning
  border-color $red

input::-webkit-input-placeholder
  color alpha(black, .5)
input::-moz-placeholder
  color alpha(black, .5)
input:-ms-input-placeholder
  color alpha(black, .5)