$os = "ProximaNova"
$lf = "Lifehack"

$grey = #e7edf9
$red = #f1151d

$print = 'print'

$Mobile = '(max-width:340px)'
$Mobile370 = '(max-width:370px)'

$PortraitMin = '(max-width:390px)'
$PortraitMedium = '(max-width:500px)'
$PortraitMediumFrom = '(min-width:501px)'
$PortraitMax = '(max-width:670px)'
$PortraitMaxFrom = '(min-width:671px)'

$LandscapeMin = '(max-width:767px)'
$LandscapeMinFrom = '(min-width:768px)'
$LandscapeMedium = '(max-width:900px)'
$LandscapeMediumMin = '(min-width:901px)'
$LandscapeMax = '(max-width:1000px)'
$LandscapeMaxFrom = '(min-width:1001px)'

$desktopTablet = '(max-width:1050px)'

$dekstop1142 = '(max-width:1142px)'
$desktopMin = '(max-width:1170px)'
$desktopMinFrom = '(min-width:1171px)'
$desktopMedium = '(max-width:1270px)'
$desktopMediumFrom = '(min-width:1271px)'
$desktopMax = '(max-width:1400px)'

$lDesktopSmall = '(max-width:1600px)'
$lDesktopSmallFrom = '(min-width:1601px)'
$lDesktopMedium = '(max-width:1920px)'
$lDesktopMax = '(max-width:2200px)'

$ios = '(-webkit-overflow-scrolling: touch)'

$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'